* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  position: relative;
  margin: 100px auto;
  max-width: 45px;
  padding: 5px;
  height: 45px;
  background-color: rgb(235, 235, 235);
}

.btn-toggle {
  display: block;
  width: 35px;
  height: 35px;
  color: currentColor;
  background-color: inherit;
  outline: none;
  border: none;
  transition: 0.2s ease-in;
  z-index: 4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#bar {
  display: block;
  border-top: 3px solid;
  cursor: pointer;
}

#bar::before,
#bar::after {
  content: "";
  display: block;
  border-top: 3px solid;
  margin-top: 5px;
  transform-origin: center;
  transition: 0.2s ease-in;
}

.content.active #bar {
  border-top-color: transparent;
}

.content.active #bar::before {
  transform: rotate(-135deg);
}

.content.active #bar::after {
  transform: rotate(135deg);
  position: relative;
  top: -8px;
}